@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');:root {
  --spacing-xxs: 0.375rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;

  --glow-spacing-x: var(--spacing-md);
  --glow-spacing-y: var(--spacing-lg);
}/* TODO: refactor to use semantic scale */:root {
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 0.75rem; /* 12px */
  --spacing-4: 1rem; /* 16px */
  --spacing-5: 1.25rem; /* 20px */
  --spacing-6: 1.5rem; /* 24px */
  --spacing-8: 2rem; /* 32px */
  --spacing-10: 2.5rem; /* 40px */
  --spacing-12: 3rem; /* 48px */
  --spacing-16: 4rem; /* 64px */
  --spacing-20: 5rem; /* 80px */
  --spacing-24: 6rem; /* 96px */
  --spacing-32: 8rem; /* 128px */
  --spacing-40: 10rem; /* 160px */
  --spacing-48: 12rem; /* 192px */
  --spacing-56: 14rem; /* 224px */
  --spacing-64: 16rem; /* 256px */
}.drac-box {
  box-sizing: border-box;
}.drac-box h1,
.drac-box h2,
.drac-box h3,
.drac-box h4 {
  margin: 0;
}.drac-p-none {
    padding: var(--spacing-none);
  }.drac-px-none {
    padding-left: var(--spacing-none);
    padding-right: var(--spacing-none);
  }.drac-py-none {
    padding-top: var(--spacing-none);
    padding-bottom: var(--spacing-none);
  }.drac-pl-none {
    padding-left: var(--spacing-none);
  }.drac-pr-none {
    padding-right: var(--spacing-none);
  }.drac-pt-none {
    padding-top: var(--spacing-none);
  }.drac-pb-none {
    padding-bottom: var(--spacing-none);
  }.drac-p-xxs {
    padding: var(--spacing-xxs);
  }.drac-px-xxs {
    padding-left: var(--spacing-xxs);
    padding-right: var(--spacing-xxs);
  }.drac-py-xxs {
    padding-top: var(--spacing-xxs);
    padding-bottom: var(--spacing-xxs);
  }.drac-pl-xxs {
    padding-left: var(--spacing-xxs);
  }.drac-pr-xxs {
    padding-right: var(--spacing-xxs);
  }.drac-pt-xxs {
    padding-top: var(--spacing-xxs);
  }.drac-pb-xxs {
    padding-bottom: var(--spacing-xxs);
  }.drac-p-xs {
    padding: var(--spacing-xs);
  }.drac-px-xs {
    padding-left: var(--spacing-xs);
    padding-right: var(--spacing-xs);
  }.drac-py-xs {
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
  }.drac-pl-xs {
    padding-left: var(--spacing-xs);
  }.drac-pr-xs {
    padding-right: var(--spacing-xs);
  }.drac-pt-xs {
    padding-top: var(--spacing-xs);
  }.drac-pb-xs {
    padding-bottom: var(--spacing-xs);
  }.drac-p-sm {
    padding: var(--spacing-sm);
  }.drac-px-sm {
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
  }.drac-py-sm {
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
  }.drac-pl-sm {
    padding-left: var(--spacing-sm);
  }.drac-pr-sm {
    padding-right: var(--spacing-sm);
  }.drac-pt-sm {
    padding-top: var(--spacing-sm);
  }.drac-pb-sm {
    padding-bottom: var(--spacing-sm);
  }.drac-p-md {
    padding: var(--spacing-md);
  }.drac-px-md {
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
  }.drac-py-md {
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
  }.drac-pl-md {
    padding-left: var(--spacing-md);
  }.drac-pr-md {
    padding-right: var(--spacing-md);
  }.drac-pt-md {
    padding-top: var(--spacing-md);
  }.drac-pb-md {
    padding-bottom: var(--spacing-md);
  }.drac-p-lg {
    padding: var(--spacing-lg);
  }.drac-px-lg {
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
  }.drac-py-lg {
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
  }.drac-pl-lg {
    padding-left: var(--spacing-lg);
  }.drac-pr-lg {
    padding-right: var(--spacing-lg);
  }.drac-pt-lg {
    padding-top: var(--spacing-lg);
  }.drac-pb-lg {
    padding-bottom: var(--spacing-lg);
  }.drac-m-none {
    margin: var(--spacing-none);
  }.drac-mx-none {
    margin-left: var(--spacing-none);
    margin-right: var(--spacing-none);
  }.drac-my-none {
    margin-top: var(--spacing-none);
    margin-bottom: var(--spacing-none);
  }.drac-ml-none {
    margin-left: var(--spacing-none);
  }.drac-mr-none {
    margin-right: var(--spacing-none);
  }.drac-mt-none {
    margin-top: var(--spacing-none);
  }.drac-mb-none {
    margin-bottom: var(--spacing-none);
  }.drac-m-xxs {
    margin: var(--spacing-xxs);
  }.drac-mx-xxs {
    margin-left: var(--spacing-xxs);
    margin-right: var(--spacing-xxs);
  }.drac-my-xxs {
    margin-top: var(--spacing-xxs);
    margin-bottom: var(--spacing-xxs);
  }.drac-ml-xxs {
    margin-left: var(--spacing-xxs);
  }.drac-mr-xxs {
    margin-right: var(--spacing-xxs);
  }.drac-mt-xxs {
    margin-top: var(--spacing-xxs);
  }.drac-mb-xxs {
    margin-bottom: var(--spacing-xxs);
  }.drac-m-xs {
    margin: var(--spacing-xs);
  }.drac-mx-xs {
    margin-left: var(--spacing-xs);
    margin-right: var(--spacing-xs);
  }.drac-my-xs {
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
  }.drac-ml-xs {
    margin-left: var(--spacing-xs);
  }.drac-mr-xs {
    margin-right: var(--spacing-xs);
  }.drac-mt-xs {
    margin-top: var(--spacing-xs);
  }.drac-mb-xs {
    margin-bottom: var(--spacing-xs);
  }.drac-m-sm {
    margin: var(--spacing-sm);
  }.drac-mx-sm {
    margin-left: var(--spacing-sm);
    margin-right: var(--spacing-sm);
  }.drac-my-sm {
    margin-top: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
  }.drac-ml-sm {
    margin-left: var(--spacing-sm);
  }.drac-mr-sm {
    margin-right: var(--spacing-sm);
  }.drac-mt-sm {
    margin-top: var(--spacing-sm);
  }.drac-mb-sm {
    margin-bottom: var(--spacing-sm);
  }.drac-m-md {
    margin: var(--spacing-md);
  }.drac-mx-md {
    margin-left: var(--spacing-md);
    margin-right: var(--spacing-md);
  }.drac-my-md {
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-md);
  }.drac-ml-md {
    margin-left: var(--spacing-md);
  }.drac-mr-md {
    margin-right: var(--spacing-md);
  }.drac-mt-md {
    margin-top: var(--spacing-md);
  }.drac-mb-md {
    margin-bottom: var(--spacing-md);
  }.drac-m-lg {
    margin: var(--spacing-lg);
  }.drac-mx-lg {
    margin-left: var(--spacing-lg);
    margin-right: var(--spacing-lg);
  }.drac-my-lg {
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-lg);
  }.drac-ml-lg {
    margin-left: var(--spacing-lg);
  }.drac-mr-lg {
    margin-right: var(--spacing-lg);
  }.drac-mt-lg {
    margin-top: var(--spacing-lg);
  }.drac-mb-lg {
    margin-bottom: var(--spacing-lg);
  }:root {
  --black: hsl(230, 15%, 15%);
  --blackSecondary: hsl(230, 15%, 30%);
  --blackTernary: hsl(230, 15%, 70%);
  --blackLight: hsla(230, 15%, 15%, 5%);

  --white: hsl(60, 30%, 96%);
  --whiteSecondary: hsl(60, 30%, 100%);
  --whiteLight: hsla(60, 30%, 96%, 5%);

  --cyan: hsl(170, 100%, 75%);
  --cyanSecondary: hsl(170, 100%, 90%);
  --cyanLight: hsla(170, 100%, 75%, 5%);

  --green: hsl(115, 100%, 75%);
  --greenSecondary: hsl(115, 100%, 90%);
  --greenLight: hsla(115, 100%, 75%, 5%);

  --orange: hsl(35, 100%, 75%);
  --orangeSecondary: hsl(35, 100%, 90%);
  --orangeLight: hsla(35, 100%, 75%, 5%);

  --pink: hsl(330, 100%, 75%);
  --pinkSecondary: hsl(330, 100%, 90%);
  --pinkLight: hsla(330, 100%, 75%, 5%);

  --purple: hsl(250, 100%, 75%);
  --purpleSecondary: hsl(250, 100%, 90%);
  --purpleLight: hsl(250, 100%, 75%, 5%);

  --red: hsl(10, 100%, 75%);
  --redSecondary: hsl(10, 100%, 90%);
  --redLight: hsla(10, 100%, 75%, 5%);

  --yellow: hsl(60, 100%, 75%);
  --yellowSecondary: hsl(60, 100%, 90%);
  --yellowLight: hsla(60, 100%, 75%, 5%);

  --cyan-transparent: hsl(170, 100%, 75%, 0.1);
  --green-transparent: hsl(115, 100%, 75%, 0.1);
  --orange-transparent: hsl(35, 100%, 75%, 0.1);
  --pink-transparent: hsl(330, 100%, 75%, 0.1);
  --purple-transparent: hsl(250, 100%, 75%, 0.1);
  --red-transparent: hsl(10, 100%, 75%, 0.1);
  --yellow-transparent: hsl(60, 100%, 75%, 0.1);

  --disabled: hsl(230, 15%, 50%);
  --gradientDegree: 135deg;

  --glowColor: rgba(255, 255, 255, 0.25);
    --cyan-100: hsl(170, 100%, 75%, 0.10);
    --green-100: hsl(115, 100%, 75%, 0.10);
    --orange-100: hsl(35, 100%, 75%, 0.10);
    --pink-100: hsl(330, 100%, 75%, 0.10);
    --purple-100: hsl(250, 100%, 75%, 0.10);
    --red-100: hsl(10, 100%, 75%, 0.10);
    --yellow-100: hsl(60, 100%, 75%, 0.10);
    --cyan-200: hsl(170, 100%, 75%, 0.20);
    --green-200: hsl(115, 100%, 75%, 0.20);
    --orange-200: hsl(35, 100%, 75%, 0.20);
    --pink-200: hsl(330, 100%, 75%, 0.20);
    --purple-200: hsl(250, 100%, 75%, 0.20);
    --red-200: hsl(10, 100%, 75%, 0.20);
    --yellow-200: hsl(60, 100%, 75%, 0.20);
    --cyan-300: hsl(170, 100%, 75%, 0.30);
    --green-300: hsl(115, 100%, 75%, 0.30);
    --orange-300: hsl(35, 100%, 75%, 0.30);
    --pink-300: hsl(330, 100%, 75%, 0.30);
    --purple-300: hsl(250, 100%, 75%, 0.30);
    --red-300: hsl(10, 100%, 75%, 0.30);
    --yellow-300: hsl(60, 100%, 75%, 0.30);
    --cyan-400: hsl(170, 100%, 75%, 0.40);
    --green-400: hsl(115, 100%, 75%, 0.40);
    --orange-400: hsl(35, 100%, 75%, 0.40);
    --pink-400: hsl(330, 100%, 75%, 0.40);
    --purple-400: hsl(250, 100%, 75%, 0.40);
    --red-400: hsl(10, 100%, 75%, 0.40);
    --yellow-400: hsl(60, 100%, 75%, 0.40);
    --cyan-500: hsl(170, 100%, 75%, 0.50);
    --green-500: hsl(115, 100%, 75%, 0.50);
    --orange-500: hsl(35, 100%, 75%, 0.50);
    --pink-500: hsl(330, 100%, 75%, 0.50);
    --purple-500: hsl(250, 100%, 75%, 0.50);
    --red-500: hsl(10, 100%, 75%, 0.50);
    --yellow-500: hsl(60, 100%, 75%, 0.50);
    --cyan-600: hsl(170, 100%, 75%, 0.60);
    --green-600: hsl(115, 100%, 75%, 0.60);
    --orange-600: hsl(35, 100%, 75%, 0.60);
    --pink-600: hsl(330, 100%, 75%, 0.60);
    --purple-600: hsl(250, 100%, 75%, 0.60);
    --red-600: hsl(10, 100%, 75%, 0.60);
    --yellow-600: hsl(60, 100%, 75%, 0.60);
    --cyan-700: hsl(170, 100%, 75%, 0.70);
    --green-700: hsl(115, 100%, 75%, 0.70);
    --orange-700: hsl(35, 100%, 75%, 0.70);
    --pink-700: hsl(330, 100%, 75%, 0.70);
    --purple-700: hsl(250, 100%, 75%, 0.70);
    --red-700: hsl(10, 100%, 75%, 0.70);
    --yellow-700: hsl(60, 100%, 75%, 0.70);
    --cyan-800: hsl(170, 100%, 75%, 0.80);
    --green-800: hsl(115, 100%, 75%, 0.80);
    --orange-800: hsl(35, 100%, 75%, 0.80);
    --pink-800: hsl(330, 100%, 75%, 0.80);
    --purple-800: hsl(250, 100%, 75%, 0.80);
    --red-800: hsl(10, 100%, 75%, 0.80);
    --yellow-800: hsl(60, 100%, 75%, 0.80);
    --cyan-900: hsl(170, 100%, 75%, 0.90);
    --green-900: hsl(115, 100%, 75%, 0.90);
    --orange-900: hsl(35, 100%, 75%, 0.90);
    --pink-900: hsl(330, 100%, 75%, 0.90);
    --purple-900: hsl(250, 100%, 75%, 0.90);
    --red-900: hsl(10, 100%, 75%, 0.90);
    --yellow-900: hsl(60, 100%, 75%, 0.90);

  --accentColor: var(--purple);
    --purple-cyan: linear-gradient(
      var(--gradientDegree),
      var(--purple) 0%,
      var(--cyan) 100%
    );
    --yellow-pink: linear-gradient(
      var(--gradientDegree),
      var(--yellow) 0%,
      var(--pink) 100%
    );
    --cyan-green: linear-gradient(
      var(--gradientDegree),
      var(--cyan) 0%,
      var(--green) 100%
    );
    --pink-purple: linear-gradient(
      var(--gradientDegree),
      var(--pink) 0%,
      var(--purple) 100%
    )
}.drac-bg-purple-cyan {
    background: linear-gradient(
      var(--gradientDegree),
      var(--purple) 0%,
      var(--cyan) 100%
    );
  }.drac-bg-purple-cyan-transparent {
    background: linear-gradient(
      var(--gradientDegree),
      var(--purple-transparent) 0%,
      var(--cyan-transparent) 100%
    );
  }.drac-text-purple-cyan {
    background-image: linear-gradient(
      var(--gradientDegree),
      var(--purple) 0%,
      var(--cyan) 100%
    );

    background-size: 100%;
    background-clip: text;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }.drac-bg-yellow-pink {
    background: linear-gradient(
      var(--gradientDegree),
      var(--yellow) 0%,
      var(--pink) 100%
    );
  }.drac-bg-yellow-pink-transparent {
    background: linear-gradient(
      var(--gradientDegree),
      var(--yellow-transparent) 0%,
      var(--pink-transparent) 100%
    );
  }.drac-text-yellow-pink {
    background-image: linear-gradient(
      var(--gradientDegree),
      var(--yellow) 0%,
      var(--pink) 100%
    );

    background-size: 100%;
    background-clip: text;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }.drac-bg-cyan-green {
    background: linear-gradient(
      var(--gradientDegree),
      var(--cyan) 0%,
      var(--green) 100%
    );
  }.drac-bg-cyan-green-transparent {
    background: linear-gradient(
      var(--gradientDegree),
      var(--cyan-transparent) 0%,
      var(--green-transparent) 100%
    );
  }.drac-text-cyan-green {
    background-image: linear-gradient(
      var(--gradientDegree),
      var(--cyan) 0%,
      var(--green) 100%
    );

    background-size: 100%;
    background-clip: text;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }.drac-bg-pink-purple {
    background: linear-gradient(
      var(--gradientDegree),
      var(--pink) 0%,
      var(--purple) 100%
    );
  }.drac-bg-pink-purple-transparent {
    background: linear-gradient(
      var(--gradientDegree),
      var(--pink-transparent) 0%,
      var(--purple-transparent) 100%
    );
  }.drac-text-pink-purple {
    background-image: linear-gradient(
      var(--gradientDegree),
      var(--pink) 0%,
      var(--purple) 100%
    );

    background-size: 100%;
    background-clip: text;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }.drac-bg-black {
    background-color: var(--black);
  }.drac-bg-black-secondary {
    --accentColor: var(--blackSecondary);
    background-color: var(--blackSecondary);
  }.drac-bg-black-transparent {
    --accentColor: var(--black-transparent);
    background-color: var(--black-transparent);
  }.drac-text-black {
    color: var(--black);
  }.drac-text-black-secondary {
    color: var(--blackSecondary);
  }.drac-glow-black {
    background-color: var(--black);
    --glowColor: var(--black);
  }.drac-border-black {
    border-color: var(--black);
    --borderColor: var(--black);
  }.drac-bg-white {
    background-color: var(--white);
  }.drac-bg-white-secondary {
    --accentColor: var(--whiteSecondary);
    background-color: var(--whiteSecondary);
  }.drac-bg-white-transparent {
    --accentColor: var(--white-transparent);
    background-color: var(--white-transparent);
  }.drac-text-white {
    color: var(--white);
  }.drac-text-white-secondary {
    color: var(--whiteSecondary);
  }.drac-glow-white {
    background-color: var(--white);
    --glowColor: var(--white);
  }.drac-border-white {
    border-color: var(--white);
    --borderColor: var(--white);
  }.drac-bg-cyan {
    background-color: var(--cyan);
  }.drac-bg-cyan-secondary {
    --accentColor: var(--cyanSecondary);
    background-color: var(--cyanSecondary);
  }.drac-bg-cyan-transparent {
    --accentColor: var(--cyan-transparent);
    background-color: var(--cyan-transparent);
  }.drac-text-cyan {
    color: var(--cyan);
  }.drac-text-cyan-secondary {
    color: var(--cyanSecondary);
  }.drac-glow-cyan {
    background-color: var(--cyan);
    --glowColor: var(--cyan);
  }.drac-border-cyan {
    border-color: var(--cyan);
    --borderColor: var(--cyan);
  }.drac-bg-green {
    background-color: var(--green);
  }.drac-bg-green-secondary {
    --accentColor: var(--greenSecondary);
    background-color: var(--greenSecondary);
  }.drac-bg-green-transparent {
    --accentColor: var(--green-transparent);
    background-color: var(--green-transparent);
  }.drac-text-green {
    color: var(--green);
  }.drac-text-green-secondary {
    color: var(--greenSecondary);
  }.drac-glow-green {
    background-color: var(--green);
    --glowColor: var(--green);
  }.drac-border-green {
    border-color: var(--green);
    --borderColor: var(--green);
  }.drac-bg-orange {
    background-color: var(--orange);
  }.drac-bg-orange-secondary {
    --accentColor: var(--orangeSecondary);
    background-color: var(--orangeSecondary);
  }.drac-bg-orange-transparent {
    --accentColor: var(--orange-transparent);
    background-color: var(--orange-transparent);
  }.drac-text-orange {
    color: var(--orange);
  }.drac-text-orange-secondary {
    color: var(--orangeSecondary);
  }.drac-glow-orange {
    background-color: var(--orange);
    --glowColor: var(--orange);
  }.drac-border-orange {
    border-color: var(--orange);
    --borderColor: var(--orange);
  }.drac-bg-pink {
    background-color: var(--pink);
  }.drac-bg-pink-secondary {
    --accentColor: var(--pinkSecondary);
    background-color: var(--pinkSecondary);
  }.drac-bg-pink-transparent {
    --accentColor: var(--pink-transparent);
    background-color: var(--pink-transparent);
  }.drac-text-pink {
    color: var(--pink);
  }.drac-text-pink-secondary {
    color: var(--pinkSecondary);
  }.drac-glow-pink {
    background-color: var(--pink);
    --glowColor: var(--pink);
  }.drac-border-pink {
    border-color: var(--pink);
    --borderColor: var(--pink);
  }.drac-bg-purple {
    background-color: var(--purple);
  }.drac-bg-purple-secondary {
    --accentColor: var(--purpleSecondary);
    background-color: var(--purpleSecondary);
  }.drac-bg-purple-transparent {
    --accentColor: var(--purple-transparent);
    background-color: var(--purple-transparent);
  }.drac-text-purple {
    color: var(--purple);
  }.drac-text-purple-secondary {
    color: var(--purpleSecondary);
  }.drac-glow-purple {
    background-color: var(--purple);
    --glowColor: var(--purple);
  }.drac-border-purple {
    border-color: var(--purple);
    --borderColor: var(--purple);
  }.drac-bg-red {
    background-color: var(--red);
  }.drac-bg-red-secondary {
    --accentColor: var(--redSecondary);
    background-color: var(--redSecondary);
  }.drac-bg-red-transparent {
    --accentColor: var(--red-transparent);
    background-color: var(--red-transparent);
  }.drac-text-red {
    color: var(--red);
  }.drac-text-red-secondary {
    color: var(--redSecondary);
  }.drac-glow-red {
    background-color: var(--red);
    --glowColor: var(--red);
  }.drac-border-red {
    border-color: var(--red);
    --borderColor: var(--red);
  }.drac-bg-yellow {
    background-color: var(--yellow);
  }.drac-bg-yellow-secondary {
    --accentColor: var(--yellowSecondary);
    background-color: var(--yellowSecondary);
  }.drac-bg-yellow-transparent {
    --accentColor: var(--yellow-transparent);
    background-color: var(--yellow-transparent);
  }.drac-text-yellow {
    color: var(--yellow);
  }.drac-text-yellow-secondary {
    color: var(--yellowSecondary);
  }.drac-glow-yellow {
    background-color: var(--yellow);
    --glowColor: var(--yellow);
  }.drac-border-yellow {
    border-color: var(--yellow);
    --borderColor: var(--yellow);
  }.drac-bg-animated {
  content: '';
  -webkit-animation: animatedGradient 6s ease infinite alternate;
          animation: animatedGradient 6s ease infinite alternate;
  background-size: 300% 300%;
  background-image: linear-gradient(
    var(--gradientDegree),
    var(--orange),
    var(--yellow),
    var(--red),
    var(--pink),
    var(--purple),
    var(--cyan),
    var(--green)
  );
}@-webkit-keyframes animatedGradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}@keyframes animatedGradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}:root {
  --border-size: 0.1rem;
  --rounded-none: 0;
  --rounded-sm: 0.125rem;
  --rounded: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --rounded-2xl: 1rem;
  --rounded-3xl: 1.5rem;
  --rounded-full: 9999px;
}.drac-border-black {
    border-color: var(--black);
  }.drac-border-white {
    border-color: var(--white);
  }.drac-border-cyan {
    border-color: var(--cyan);
  }.drac-border-green {
    border-color: var(--green);
  }.drac-border-orange {
    border-color: var(--orange);
  }.drac-border-pink {
    border-color: var(--pink);
  }.drac-border-purple {
    border-color: var(--purple);
  }.drac-border-red {
    border-color: var(--red);
  }.drac-border-yellow {
    border-color: var(--yellow);
  }.drac-rounded-none {
  border-radius: var(--rounded-none);
}.drac-rounded-sm {
  border-radius: var(--rounded-sm);
}.drac-rounded {
  border-radius: var(--rounded);
}.drac-rounded-md {
  border-radius: var(--rounded-md);
}.drac-rounded-lg {
  border-radius: var(--rounded-lg);
}.drac-rounded-xl {
  border-radius: var(--rounded-xl);
}.drac-rounded-2xl {
  border-radius: var(--rounded-2xl);
}.drac-rounded-3xl {
  border-radius: var(--rounded-3xl);
}.drac-rounded-full {
  border-radius: var(--rounded-full);
}:root {
  --font-xs: 0.75rem; /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-md: 1rem; /* 16px */
  --font-lg: 1.125rem; /* 18px */
  --font-xl: 1.25rem; /* 20px */
  --font-2xl: 1.5rem; /* 24px */
  --font-3xl: 1.875rem; /* 30px */
  --font-4xl: 2.25rem; /* 36px */
  --font-5xl: 3rem; /* 48px */
  --font-6xl: 4rem; /* 64px */

  --line-height-none: 1;
  --line-height-sm: 1.25;
  --line-height: 1.375;
  --line-height-md: 1.5;
  --line-height-lg: 1.625;
  --line-height-xl: 2;
}.drac-heading,
.drac-select,
.drac-input,
.drac-text,
.drac-btn {
  /* Help prevent overflow of long words/names/URLs */
  word-break: break-word;
  /* Optional, not supported for all languages */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;

  font-family: 'Fira Code', monospace;
}.drac-heading {
  margin: 0;
}code {
  font-family: 'Fira Code', monospace;
  border-radius: var(--rounded-sm);
  background: var(--purple-100);
  color: var(--purple-900);
  padding: 0.1rem 0.3rem;
}/* -- Heading -- */.drac-heading-1 {
  font-size: var(--font-5xl);
}.drac-heading-2 {
  font-size: var(--font-2xl);
}.drac-heading-3 {
  font-size: var(--font-xl);
}.drac-heading-4 {
  font-size: var(--font-lg);
}.drac-heading-5 {
  font-size: var(--font-md);
}.drac-heading-6 {
  font-size: var(--font-sm);
}/* -- Text -- */.drac-text-bold {
  font-weight: bold;
}.drac-text-semibold {
  font-weight: 600;
}/* -- Sizes -- */.drac-text {
  font-size: var(--font-md);
}.drac-text.drac-text-lg {
  font-size: var(--font-lg);
}.drac-text.drac-text-sm {
  font-size: var(--font-sm);
}.drac-text.drac-text-xs {
  font-size: var(--font-xs);
}/* -- Line Height -- */.drac-line-height-none {
  line-height: var(--line-height-none);
}.drac-line-height-sm {
  line-height: var(--line-height-sm);
}.drac-line-height {
  line-height: var(--line-height);
}.drac-line-height-md {
  line-height: var(--line-height-md);
}.drac-line-height-lg {
  line-height: var(--line-height-lg);
}.drac-line-height-xl {
  line-height: var(--line-height-xl);
}.drac-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: var(--rounded-lg);
  box-sizing: border-box;
  display: inline-block;
  background-color: var(--accentColor);
}.drac-btn:active,
.drac-btn:focus {
  opacity: 0.75;
  box-shadow: -4px -4px 1px rgba(255, 255, 255, 0.3) inset;
  outline: 0;
}.drac-btn:disabled {
  background-color: var(--disabled);
}.drac-btn:hover {
  opacity: 0.75;
  box-shadow: 4px 4px rgba(255, 255, 255, 0.1);
}.drac-btn:disabled:hover {
  box-shadow: none;
}.drac-btn-outline {
  border-width: var(--border-size);
  border-style: solid;
  background-color: transparent;
}.drac-btn-outline:disabled {
  background-color: transparent;
  border-color: var(--disabled);
  color: var(--disabled);
}.drac-btn-outline:disabled .drac-text {
  color: var(--disabled);
}.drac-btn-ghost:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: none;
}.drac-btn-ghost:active,
.drac-btn-ghost:focus {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: none;
}.drac-btn-ghost:disabled {
  background-color: var(--disabled);
  color: var(--black);
}.drac-btn-ghost:disabled .drac-text {
  color: var(--black);
}/* Sizes */.drac-btn.drac-btn-xs {
  padding: 0 var(--spacing-2);
  line-height: var(--spacing-6);
  height: var(--spacing-6);
  min-width: var(--spacing-6);
  font-size: var(--font-xs);
}.drac-btn.drac-btn-sm {
  padding: 0 var(--spacing-3);
  line-height: var(--spacing-8);
  height: var(--spacing-8);
  min-width: var(--spacing-8);
  font-size: var(--font-sm);
}.drac-btn {
  padding: 0 var(--spacing-4);
  line-height: var(--spacing-10);
  height: var(--spacing-10);
  min-width: var(--spacing-10);
  font-size: var(--font-md);
}.drac-btn.drac-btn-lg {
  padding: 0 var(--spacing-6);
  line-height: var(--spacing-12);
  height: var(--spacing-12);
  min-width: var(--spacing-12);
  font-size: var(--font-lg);
}.drac-badge {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: var(--rounded-lg);
  text-transform: uppercase;
  background-color: var(--accentColor);
}.drac-badge .drac-text {
  text-transform: uppercase;
}.drac-badge-subtle {
  border-width: var(--border-size);
  border-style: solid;
}.drac-badge-outline {
  border-width: var(--border-size);
  border-style: solid;
  background-color: transparent;
}.drac-input {
  border-radius: var(--rounded-lg);
  box-sizing: border-box;
  width: 100%;
  outline: none;
  background: var(--blackSecondary);
  border: 0.3rem solid transparent;
  transition: 0.3s ease-in-out all;
  -webkit-appearance: textfield;
  border-color: var(--accentColor);
}.drac-input:focus {
  border-color: var(--white);
}.drac-input::-moz-placeholder {
  color: var(--blackTernary);
}.drac-input:-ms-input-placeholder {
  color: var(--blackTernary);
}.drac-input::placeholder {
  color: var(--blackTernary);
}.drac-input-outline {
  background: transparent;
  border-color: var(--blackTernary);
}.drac-input-outline.drac-input-black,
  .drac-input-outline.drac-input-black:focus,
  .drac-input.drac-input-black:focus {
    border-color: var(--black);
  }.drac-input-outline.drac-input-blackSecondary,
  .drac-input-outline.drac-input-blackSecondary:focus,
  .drac-input.drac-input-blackSecondary:focus {
    border-color: var(--blackSecondary);
  }.drac-input-outline.drac-input-white,
  .drac-input-outline.drac-input-white:focus,
  .drac-input.drac-input-white:focus {
    border-color: var(--white);
  }.drac-input-outline.drac-input-cyan,
  .drac-input-outline.drac-input-cyan:focus,
  .drac-input.drac-input-cyan:focus {
    border-color: var(--cyan);
  }.drac-input-outline.drac-input-green,
  .drac-input-outline.drac-input-green:focus,
  .drac-input.drac-input-green:focus {
    border-color: var(--green);
  }.drac-input-outline.drac-input-orange,
  .drac-input-outline.drac-input-orange:focus,
  .drac-input.drac-input-orange:focus {
    border-color: var(--orange);
  }.drac-input-outline.drac-input-pink,
  .drac-input-outline.drac-input-pink:focus,
  .drac-input.drac-input-pink:focus {
    border-color: var(--pink);
  }.drac-input-outline.drac-input-purple,
  .drac-input-outline.drac-input-purple:focus,
  .drac-input.drac-input-purple:focus {
    border-color: var(--purple);
  }.drac-input-outline.drac-input-red,
  .drac-input-outline.drac-input-red:focus,
  .drac-input.drac-input-red:focus {
    border-color: var(--red);
  }.drac-input-outline.drac-input-yellow,
  .drac-input-outline.drac-input-yellow:focus,
  .drac-input.drac-input-yellow:focus {
    border-color: var(--yellow);
  }/* Sizes */.drac-input.drac-input-sm {
  padding: 0 var(--spacing-3);
  height: var(--spacing-8);
  font-size: var(--font-sm);
}.drac-input {
  padding: 0 var(--spacing-4);
  height: var(--spacing-10);
  font-size: var(--font-md);
}.drac-input.drac-input-lg {
  padding: 0 var(--spacing-6);
  height: var(--spacing-12);
  font-size: var(--font-lg);
}.drac-select {
  border-color: var(--accentColor);
  border-radius: var(--rounded-lg);
  background: var(--blackSecondary);
  border: 0.3rem solid transparent;
  box-sizing: border-box;
  color: var(--white);
  transition: 0.3s ease-in-out all;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  position: relative;
  width: 100%;
}.drac-select::before {
  border-style: solid;
  border-width: 0.25rem 0.25rem 0 0;
  content: '';
  display: inline-block;
  height: 0.45rem;
  left: 0.15rem;
  position: relative;
  top: 0.15rem;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45rem;
  left: 0;
  transform: rotate(45deg);
  background-color: white;
}.drac-select:focus {
  border-color: var(--white);
}.drac-select::-moz-placeholder {
  color: var(--blackTernary);
}.drac-select:-ms-input-placeholder {
  color: var(--blackTernary);
}.drac-select::placeholder {
  color: var(--blackTernary);
}.drac-select:disabled {
  background: var(--blackTernary);
  cursor: not-allowed;
  opacity: 0.9;
}.drac-select-outline,
.drac-select-outline:disabled {
  background: transparent;
  border-color: var(--blackTernary);
}.drac-select-arrow {
  position: absolute;
  display: inline-flex;
  width: var(--spacing-8);
  height: 100%;
  align-items: center;
  justify-content: center;
  right: var(--spacing-2);
  top: 50%;
  pointer-events: none;
  z-index: 2;
  transform: translateY(-50%);
}.drac-select-arrow svg {
  width: 3.6rem;
  height: 3.6rem;
  fill: currentColor;
}.drac-select-outline.drac-select-black,
.drac-select-outline.drac-select-black:focus,
.drac-select.drac-select-black:focus {
  border-color: var(--black);
}.drac-select-outline.drac-select-white,
.drac-select-outline.drac-select-white:focus,
.drac-select.drac-select-white:focus {
  border-color: var(--white);
}.drac-select-outline.drac-select-cyan,
.drac-select-outline.drac-select-cyan:focus,
.drac-select.drac-select-cyan:focus {
  border-color: var(--cyan);
}.drac-select-outline.drac-select-green,
.drac-select-outline.drac-select-green:focus,
.drac-select.drac-select-green:focus {
  border-color: var(--green);
}.drac-select-outline.drac-select-orange,
.drac-select-outline.drac-select-orange:focus,
.drac-select.drac-select-orange:focus {
  border-color: var(--orange);
}.drac-select-outline.drac-select-pink,
.drac-select-outline.drac-select-pink:focus,
.drac-select.drac-select-pink:focus {
  border-color: var(--pink);
}.drac-select-outline.drac-select-purple,
.drac-select-outline.drac-select-purple:focus,
.drac-select.drac-select-purple:focus {
  border-color: var(--purple);
}.drac-select-outline.drac-select-red,
.drac-select-outline.drac-select-red:focus,
.drac-select.drac-select-red:focus {
  border-color: var(--red);
}.drac-select-outline.drac-select-yellow,
.drac-select-outline.drac-select-yellow:focus,
.drac-select.drac-select-yellow:focus {
  border-color: var(--yellow);
}/* Sizes */.drac-select.drac-select-sm {
  height: var(--spacing-8);
  font-size: var(--font-sm);
}.drac-select {
  height: var(--spacing-10);
  font-size: var(--font-md);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-8);
}.drac-select.drac-select-lg {
  height: var(--spacing-12);
  font-size: var(--font-lg);
}.drac-anchor {
  text-decoration: none;
  color: var(--accentColor);
}.drac-text-black\--hover:hover {
    color: var(--black);
  }.drac-text-black-secondary--hover:hover {
    color: var(--blackSecondary);
  }.drac-text-white\--hover:hover {
    color: var(--white);
  }.drac-text-white-secondary--hover:hover {
    color: var(--whiteSecondary);
  }.drac-text-cyan\--hover:hover {
    color: var(--cyan);
  }.drac-text-cyan-secondary--hover:hover {
    color: var(--cyanSecondary);
  }.drac-text-green\--hover:hover {
    color: var(--green);
  }.drac-text-green-secondary--hover:hover {
    color: var(--greenSecondary);
  }.drac-text-orange\--hover:hover {
    color: var(--orange);
  }.drac-text-orange-secondary--hover:hover {
    color: var(--orangeSecondary);
  }.drac-text-pink\--hover:hover {
    color: var(--pink);
  }.drac-text-pink-secondary--hover:hover {
    color: var(--pinkSecondary);
  }.drac-text-purple\--hover:hover {
    color: var(--purple);
  }.drac-text-purple-secondary--hover:hover {
    color: var(--purpleSecondary);
  }.drac-text-red\--hover:hover {
    color: var(--red);
  }.drac-text-red-secondary--hover:hover {
    color: var(--redSecondary);
  }.drac-text-yellow\--hover:hover {
    color: var(--yellow);
  }.drac-text-yellow-secondary--hover:hover {
    color: var(--yellowSecondary);
  }.drac-text-purple-cyan\--hover:hover {
    background-image: linear-gradient(
      var(--gradientDegree),
      var(--purple) 0%,
      var(--cyan) 100%
    );

    background-size: 100%;
    background-clip: text;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }.drac-text-yellow-pink\--hover:hover {
    background-image: linear-gradient(
      var(--gradientDegree),
      var(--yellow) 0%,
      var(--pink) 100%
    );

    background-size: 100%;
    background-clip: text;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }.drac-text-cyan-green\--hover:hover {
    background-image: linear-gradient(
      var(--gradientDegree),
      var(--cyan) 0%,
      var(--green) 100%
    );

    background-size: 100%;
    background-clip: text;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }.drac-text-pink-purple\--hover:hover {
    background-image: linear-gradient(
      var(--gradientDegree),
      var(--pink) 0%,
      var(--purple) 100%
    );

    background-size: 100%;
    background-clip: text;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }:root {
  --subtle-avatar-shadow: inset 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}/** Defines an avatar */.drac-avatar {
  box-sizing: border-box;
  border-radius: var(--rounded-full);
  border-style: solid;
  border-width: 1px;

  text-transform: uppercase;

  height: 4.4rem;
  width: 4.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}.drac-avatar-lg-stroke {
  border-width: 3px;
}.drac-avatar-no-border {
  border-width: 0;
  box-shadow: var(--subtle-avatar-shadow);
}.drac-avatar-subtle {
  filter: grayscale(100%);
  box-shadow: var(--subtle-avatar-shadow);
}.drac-avatar .drac-text {
  text-transform: uppercase;

  /* Fira code is adding 1px to the bottom of the span */
  transform: translateY(1px);
}.drac-checkbox,
.drac-radio {
  --active-inner: var(--white);
  --background: var(--white);
  --disabled: var(--blackSecondary);
  --disabled-inner: var(--blackTernary);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 21px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--local-bg-color, var(--border));
  background: var(--local-bg, var(--background));
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}.drac-checkbox:after,
.drac-radio:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  transition: transform var(--local-transform-speed, 0.3s)
      var(--local-transform-effect, ease),
    opacity var(--local-opacity-speed, 0.2s);
}.drac-checkbox:checked,
.drac-radio:checked {
  --local-bg: var(--active);
  --local-bg-color: var(--active);
  --local-opacity-speed: 0.3s;
  --local-transform-speed: 0.6s;
  --local-transform-effect: cubic-bezier(0.2, 0.85, 0.32, 1.2);
}.drac-checkbox:disabled,
.drac-radio:disabled {
  --local-bg: var(--disabled);
  cursor: not-allowed;
  opacity: 0.9;
}.drac-checkbox:disabled:checked,
.drac-radio:disabled:checked {
  --local-bg: var(--disabled-inner);
  --local-bg-color: var(--border);
}.drac-checkbox:disabled + label,
.drac-radio:disabled + label {
  cursor: not-allowed;
}.drac-checkbox:hover:not(:checked):not(:disabled),
.drac-radio:hover:not(:checked):not(:disabled) {
  --local-bg-color: var(--border-hover);
}.drac-checkbox:focus,
.drac-radio:focus {
  box-shadow: 0 0 0 var(--focus);
}.drac-checkbox:not(.drac-switch),
.drac-radio:not(.drac-switch) {
  width: 21px;
}.drac-checkbox:not(.drac-switch):after,
.drac-radio:not(.drac-switch):after {
  opacity: var(--local-opacity, 0);
}.drac-checkbox:not(.drac-switch):checked,
.drac-radio:not(.drac-switch):checked {
  --local-opacity: 1;
}.drac-checkbox + label,
.drac-radio + label {
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-left: 4px;
}.drac-checkbox:not(.drac-switch) {
  border-radius: 7px;
}.drac-checkbox:not(.drac-switch):after {
  width: 5px;
  height: 9px;
  border: 2px solid var(--black);
  border-top: 0;
  border-left: 0;
  left: 6px;
  top: 2px;
  transform: rotate(var(--local-rotation, 20deg));
}.drac-checkbox:not(.drac-switch):checked {
  --local-rotation: 43deg;
}.drac-checkbox.drac-switch {
  width: 38px;
  border-radius: 11px;
}.drac-checkbox.drac-switch:after {
  left: 2px;
  top: 2px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: var(--ab, var(--border));
  transform: translateX(var(--x, 0));
}.drac-checkbox.drac-switch:checked {
  --ab: var(--active-inner);
  --x: 17px;
}.drac-checkbox.drac-switch:disabled:not(:checked):after {
  opacity: 0.6;
}.drac-radio {
  border-radius: 50%;
}.drac-radio:after {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: var(--active-inner);
  opacity: 0;
  transform: scale(var(--s, 0.7));
}.drac-radio:checked {
  --s: 0.5;
}.drac-radio-black,
.drac-switch-black,
.drac-checkbox-black {
  --active: var(--black);
  --focus: var(--blackSecondary);
  --border: var(--blackSecondary);
  --border-hover: var(--black);
}.drac-radio-white,
.drac-switch-white,
.drac-checkbox-white {
  --active: var(--white);
  --focus: var(--whiteSecondary);
  --border: var(--whiteSecondary);
  --border-hover: var(--white);
}.drac-radio-cyan,
.drac-switch-cyan,
.drac-checkbox-cyan {
  --active: var(--cyan);
  --focus: var(--cyanSecondary);
  --border: var(--cyanSecondary);
  --border-hover: var(--cyan);
}.drac-radio-green,
.drac-switch-green,
.drac-checkbox-green {
  --active: var(--green);
  --focus: var(--greenSecondary);
  --border: var(--greenSecondary);
  --border-hover: var(--green);
}.drac-radio-orange,
.drac-switch-orange,
.drac-checkbox-orange {
  --active: var(--orange);
  --focus: var(--orangeSecondary);
  --border: var(--orangeSecondary);
  --border-hover: var(--orange);
}.drac-radio-pink,
.drac-switch-pink,
.drac-checkbox-pink {
  --active: var(--pink);
  --focus: var(--pinkSecondary);
  --border: var(--pinkSecondary);
  --border-hover: var(--pink);
}.drac-radio-purple,
.drac-switch-purple,
.drac-checkbox-purple {
  --active: var(--purple);
  --focus: var(--purpleSecondary);
  --border: var(--purpleSecondary);
  --border-hover: var(--purple);
}.drac-radio-red,
.drac-switch-red,
.drac-checkbox-red {
  --active: var(--red);
  --focus: var(--redSecondary);
  --border: var(--redSecondary);
  --border-hover: var(--red);
}.drac-radio-yellow,
.drac-switch-yellow,
.drac-checkbox-yellow {
  --active: var(--yellow);
  --focus: var(--yellowSecondary);
  --border: var(--yellowSecondary);
  --border-hover: var(--yellow);
}.drac-card {
  border-radius: var(--rounded-lg);
  box-shadow: -2px var(--glow-spacing-x) var(--glow-spacing-y) var(--glowColor);
  background-color: var(--accentColor);
}.drac-card-subtle {
  box-shadow: none;
  background: none;
  border-width: 2px;
  border-style: solid;
}.drac-tabs {
  list-style: none;
  display: flex;
  padding: 0;
  border-color: var(--accentColor);
}.drac-tab {
  border-bottom-color: var(--disabled);
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  padding: 1rem;
}.drac-tab-link {
  color: var(--white);
  text-decoration: none;
}.drac-tabs-black .drac-tab-active {
    border-color: var(--black);
  }.drac-tabs-black .drac-tab-active .drac-tab-link {
    color: var(--black);
  }.drac-tabs-white .drac-tab-active {
    border-color: var(--white);
  }.drac-tabs-white .drac-tab-active .drac-tab-link {
    color: var(--white);
  }.drac-tabs-cyan .drac-tab-active {
    border-color: var(--cyan);
  }.drac-tabs-cyan .drac-tab-active .drac-tab-link {
    color: var(--cyan);
  }.drac-tabs-green .drac-tab-active {
    border-color: var(--green);
  }.drac-tabs-green .drac-tab-active .drac-tab-link {
    color: var(--green);
  }.drac-tabs-orange .drac-tab-active {
    border-color: var(--orange);
  }.drac-tabs-orange .drac-tab-active .drac-tab-link {
    color: var(--orange);
  }.drac-tabs-pink .drac-tab-active {
    border-color: var(--pink);
  }.drac-tabs-pink .drac-tab-active .drac-tab-link {
    color: var(--pink);
  }.drac-tabs-purple .drac-tab-active {
    border-color: var(--purple);
  }.drac-tabs-purple .drac-tab-active .drac-tab-link {
    color: var(--purple);
  }.drac-tabs-red .drac-tab-active {
    border-color: var(--red);
  }.drac-tabs-red .drac-tab-active .drac-tab-link {
    color: var(--red);
  }.drac-tabs-yellow .drac-tab-active {
    border-color: var(--yellow);
  }.drac-tabs-yellow .drac-tab-active .drac-tab-link {
    color: var(--yellow);
  }.drac-table {
  border-collapse: collapse;
  width: 100%;

  border-color: var(--accentColor);
}.drac-table th {
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: .2rem;
}.drac-table td {
  border-color: var(--disabled);
  border-width: 0.1rem;
  border-style: solid;
  padding: 0.5rem;
}.drac-table.drac-table-black td {
    border-color: var(--black);
  }.drac-table-striped.drac-table-black tr:nth-child(even) {
    background-color: var(--blackLight);
  }.drac-table.drac-table-white td {
    border-color: var(--white);
  }.drac-table-striped.drac-table-white tr:nth-child(even) {
    background-color: var(--whiteLight);
  }.drac-table.drac-table-cyan td {
    border-color: var(--cyan);
  }.drac-table-striped.drac-table-cyan tr:nth-child(even) {
    background-color: var(--cyanLight);
  }.drac-table.drac-table-green td {
    border-color: var(--green);
  }.drac-table-striped.drac-table-green tr:nth-child(even) {
    background-color: var(--greenLight);
  }.drac-table.drac-table-orange td {
    border-color: var(--orange);
  }.drac-table-striped.drac-table-orange tr:nth-child(even) {
    background-color: var(--orangeLight);
  }.drac-table.drac-table-pink td {
    border-color: var(--pink);
  }.drac-table-striped.drac-table-pink tr:nth-child(even) {
    background-color: var(--pinkLight);
  }.drac-table.drac-table-purple td {
    border-color: var(--purple);
  }.drac-table-striped.drac-table-purple tr:nth-child(even) {
    background-color: var(--purpleLight);
  }.drac-table.drac-table-red td {
    border-color: var(--red);
  }.drac-table-striped.drac-table-red tr:nth-child(even) {
    background-color: var(--redLight);
  }.drac-table.drac-table-yellow td {
    border-color: var(--yellow);
  }.drac-table-striped.drac-table-yellow tr:nth-child(even) {
    background-color: var(--yellowLight);
  }.drac-table.drac-table-striped tr:nth-child(even) {
  background-color: var(--whiteLight);
}.drac-list {
  list-style: none;
}.drac-list-unordered li::before {
  content: "—";
  padding-right: 10px;
}.drac-list-ordered {
  counter-reset: li;
}.drac-list-ordered li {
  counter-increment: li;
  margin-left: -30px;
}.drac-list-ordered li::before {
  content: counter(li)'.';
  display: inline-block;
  margin-left: 15px;
  padding-right: 5px;
  text-align: right;
  width: 30px;
  color: var(--accentColor);
}.drac-list-black.drac-list-unordered li::before,
  .drac-list-black.drac-list-ordered li::before {
    color: var(--black);
  }.drac-list-blackSecondary.drac-list-unordered li::before,
  .drac-list-blackSecondary.drac-list-ordered li::before {
    color: var(--blackSecondary);
  }.drac-list-white.drac-list-unordered li::before,
  .drac-list-white.drac-list-ordered li::before {
    color: var(--white);
  }.drac-list-cyan.drac-list-unordered li::before,
  .drac-list-cyan.drac-list-ordered li::before {
    color: var(--cyan);
  }.drac-list-green.drac-list-unordered li::before,
  .drac-list-green.drac-list-ordered li::before {
    color: var(--green);
  }.drac-list-orange.drac-list-unordered li::before,
  .drac-list-orange.drac-list-ordered li::before {
    color: var(--orange);
  }.drac-list-pink.drac-list-unordered li::before,
  .drac-list-pink.drac-list-ordered li::before {
    color: var(--pink);
  }.drac-list-purple.drac-list-unordered li::before,
  .drac-list-purple.drac-list-ordered li::before {
    color: var(--purple);
  }.drac-list-red.drac-list-unordered li::before,
  .drac-list-red.drac-list-ordered li::before {
    color: var(--red);
  }.drac-list-yellow.drac-list-unordered li::before,
  .drac-list-yellow.drac-list-ordered li::before {
    color: var(--yellow);
  }.drac-list-none {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/*# sourceMappingURL=dracula-ui.css.map */