@-webkit-keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.logo:hover {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

#topbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    background: #14141b;
    height: 60px;
    padding: 5px;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    justify-content: space-between;
}

#topbar .title {
    font-family: Abril Text;
    font-size: 24px;
}

#topbar a {
    text-decoration: none;
    font-size: 13px;
}

.Discount_ppp__1reUC {
    background: #1d1e26;
    font-family: Fira Code, monospace;
}

.Discount_container__1dMFU {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 940px;
    padding: 80px 15px 20px;
}

.Discount_bodyLeft__2oMFO {
    margin-right: 30px;
}

.Discount_bodyRight__16GMa {
    font-size: 15px;
    margin-top: 0.5em;
}

.Discount_flag__12Xz5 {
    max-width: 100px;
    border-radius: 10px;
}

.Discount_flagContainer__3NRhX {
    align-items: center;
    background: #2a2c37;
    border-radius: 10px;
    display: flex;
    padding: 10px;
}

.Discount_highlight__2Gkz9 {
    color: #50fa7b;
}

#header {
    background: #22212c;
    text-align: center;
    padding: 150px 10px 30px;
}

#header .title {
    font-family: Abril Text;
    font-size: 70px;
}

#header .subtitle {
    margin-left: auto;
    margin-right: auto;
    max-width: 390px;
}

#header .bodytext {
    font-size: 24px;
}

@media (max-width: 960px) {
    #header {
        padding: 150px 10px 80px;
    }
}

#tagline {
    background: #14141b;
}

#tagline .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 980px;
}

.title {
    text-align: center;
    font-size: 52px;
}

#tagline .description {
    text-align: center;
    font-size: 24px;
}

#tagline .container-top,
#tagline .container-bottom {
    display: block;
    position: relative;
    top: 0;
}

@media (max-width: 1791px) {
    #tagline .container-top,
    #tagline .container-bottom {
        background-size: contain;
    }
}

#tagline .container-bottom {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media (max-width: 960px) {
    #tagline .container {
        padding: 30px 15px;
    }
}

.combo-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.combo-btn-container > * {
    margin: 5px;
}

#newsletter {
    background: #22212c;
    text-align: center;
    padding: 0 15px;
}

#newsletter .bodytext {
    margin: 20px auto;
}

#newsletter .bodyform {
    display: flex;
    align-items: center;
    justify-content: center;
}

#newsletter .bodyform input[type="email"] {
    background: #14141b;
    color: var(--yellow);
    font-family: Fira Code, monospace;
    font-size: 18px;
    border: 5px solid #14141b;
}

#newsletter .bodyform input[type="submit"] {
    background: var(--yellow-pink);
    font-family: Fira Code, monospace;
    font-size: 18px;
    border: unset;
    padding: 5px;
}

@media (max-width: 960px) {
    #newsletter {
        padding: 0 15px 60px;
    }
}

.Pricing_pricing__2rStM {
    background: #2a2c37;
}

.Pricing_container__2gNn2 {
    max-width: 72em;
    margin: 0 auto;
    padding: 0 15px;
}

.Pricing_tables__2wa3L {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Pricing_primaryTable__3S-m_,
.Pricing_secondaryTable__17H-_ {
    background: #1d1e26;
    margin-bottom: 20px;
}

.Pricing_primaryTable__3S-m_ {
    border: 3px solid #50fa7b;
    padding: 50px 70px;
}

.Pricing_secondaryTable__17H-_ {
    padding: 50px;
    border-top-left-radius: var(--rounded-2xl);
    border-bottom-left-radius: var(--rounded-2xl);
}

.Pricing_title__N2uUF {
    text-align: center;
}

.Pricing_description__1uz2- {
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.Pricing_packageName__30VHv {
    text-align: center;
    text-transform: uppercase;
}

.Pricing_primaryPrice__283R3,
.Pricing_secondaryPrice__3iJ0K {
    font-weight: 700;
    text-align: center;
}

.Pricing_primaryPrice__283R3 {
    font-size: 64px;
}

.Pricing_secondaryPrice__3iJ0K {
    font-size: 48px;
}

.Pricing_primaryBeforePrice__1u5cn,
.Pricing_secondaryBeforePrice__M0o_G {
    font-weight: 700;
    color: hsla(0, 0%, 100%, 0.4);
    text-decoration: line-through;
    margin-right: 10px;
}

.Pricing_primaryBeforePrice__1u5cn {
    font-size: 48px;
    margin-left: -15px;
}

.Pricing_secondaryBeforePrice__M0o_G {
    font-size: 36px;
}

.Pricing_buy__3nsg7 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Pricing_cta__3MdWi {
    color: #1d1e26;
    text-align: center;
}

.Pricing_refund__3b6QF {
    text-align: center;
    color: hsla(0, 0%, 100%, 0.5);
}

@media (max-width: 768px) {
    .Pricing_tables__2wa3L {
        flex-direction: column;
    }
    .Pricing_primaryTable__3S-m_,
    .Pricing_secondaryTable__17H-_ {
        padding: 50px 40px;
    }
    .Pricing_secondaryTable__17H-_ {
        border-radius: var(--rounded-2xl);
    }
    .Pricing_primaryPrice__283R3 {
        font-size: 48px;
    }
    .Pricing_primaryBeforePrice__1u5cn {
        font-size: 36px;
    }
}

.Pricing_svgContainerBottom__3d68p,
.Pricing_svgContainerTop__26VKS {
    display: block;
    position: relative;
    top: 0;
}

@media (max-width: 1791px) {
    .Pricing_svgContainerBottom__3d68p,
    .Pricing_svgContainerTop__26VKS {
        background-size: contain;
    }
}

.Pricing_svgContainerBottom__3d68p {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.Pricing_iconCheck__349Fl {
    width: 24px;
    margin-right: 10px;
    position: relative;
    top: 7px;
}

.Pricing_primary__vk24L {
    fill: var(--green);
}

.Pricing_secondary__1FQIw {
    fill: var(--black);
}

@media (max-width: 960px) {
    .Pricing_container__2gNn2 {
        padding: 60px 15px;
    }
}

.Features_features__1najE {
    background-color: #22212c;
    overflow: hidden;
}

.Features_container__3yzPo {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
}

.Features_container__3yzPo .Features_content__21FP6:last-child {
    margin: 0;
}

.Features_content__21FP6 {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}

.Features_contentLeft__1rgZ5,
.Features_contentRightInverted__mEqxu {
    width: 380px;
    flex-shrink: 0;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}

.Features_contentLeftInverted__eIaXN,
.Features_contentRight__6PR7J {
    margin-left: 108px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    display: flex;
    flex-grow: 1;
}

.Features_contentLeftInverted__eIaXN {
    margin-left: -288px;
    margin-right: 108px;
    align-items: flex-end;
}

.Features_background__3BNHh,
.Features_backgroundSecond__19_rg,
.Features_backgroundThird__2Dr5A {
    width: 1000px;
    height: 640px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    max-width: 1100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.Features_paragraph__2YAuU {
    color: #8a8f98;
}

.Features_highlight__2gG55,
.Features_paragraph__2YAuU {
    font-size: 22px;
}

.Features_image__2KNyY {
    max-width: 100%;
}

@media (max-width: 1200px) {
    .Features_contentLeftInverted__eIaXN {
        margin-left: -500px;
    }
}

@media (max-width: 1024px) {
    .Features_content__21FP6 {
        margin-bottom: 40px;
        flex-direction: column;
    }
    .Features_container__3yzPo {
        max-width: 512px;
    }
    .Features_contentLeft__1rgZ5,
    .Features_contentRightInverted__mEqxu {
        float: none;
        max-width: 100%;
        width: auto;
    }
    .Features_contentLeftInverted__eIaXN,
    .Features_contentRight__6PR7J {
        float: none;
        max-width: 100%;
        margin-left: 0;
    }
    .Features_background__3BNHh,
    .Features_backgroundSecond__19_rg,
    .Features_backgroundThird__2Dr5A {
        display: none;
    }
}

.Features_icon__3jQDg {
    width: 36px;
}

.Features_primaryFirst__3KhW9 {
    fill: var(--purpleSecondary);
}

.Features_secondaryFirst__3MN2d {
    fill: var(--purple);
}

.Features_iconContainerFirst__367FQ {
    background: var(--purple-transparent);
}

.Features_primarySecond__3saHr {
    fill: var(--greenSecondary);
}

.Features_secondarySecond__1f1KR {
    fill: var(--green);
}

.Features_iconContainerSecond__1Bynk {
    background: var(--green-transparent);
}

.Features_primaryThird__3BWJa {
    fill: var(--red);
}

.Features_secondaryThird__1zEnz {
    fill: #22212c;
}

.Features_iconContainerThird___d-g6 {
    background: var(--red-transparent);
}

.Features_iconContainerFirst__367FQ,
.Features_iconContainerSecond__1Bynk,
.Features_iconContainerThird___d-g6 {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

@media (max-width: 960px) {
    .Features_container__3yzPo {
        padding: 30px 15px;
    }
}

#editors {
    background: #2a2c37;
}

#editors .container-top,
#editors .container-bottom {
    display: block;
    position: relative;
    top: 0;
}

@media (max-width: 1791px) {
    #editors .container-top,
    #editors .container-bottom {
        background-size: contain;
    }
}

#editors .container-bottom {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#editors a,
#editors a:-webkit-any-link {
    text-decoration: none;
}

.editors_grid {
    -webkit-column-count: 2;
    column-count: 2;
}

.langs_grid {
    display: grid !important;
    -webkit-column-count: 4;
    column-count: 4;
    grid-column-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.langs_item {
    padding: 0 15px;
}

.Highlights_container__1kvqi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 82em;
    margin: 0 auto;
    overflow-x: scroll;
    scrollbar-width: none;
}

.Highlights_card__34b3J {
    flex: 1 1;
    border-radius: var(--rounded-2xl);
    background: #1d1e26;
    margin: 0 15px 40px;
    height: calc(100% - 40px);
}

.Highlights_cardBackground__2Fr7t {
    width: 100%;
    height: 220px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Highlights_cardDetailsContainer__8lpMI {
    background: #22212c;
    padding: 15px 25px;
}

.Highlights_cardDetails__v4Cip,
.Highlights_cardDetailsContainer__8lpMI {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Highlights_cardDetails__v4Cip {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.Highlights_typographyDetail__1qVni {
    color: #22212c;
    font-size: 28px;
    font-weight: 300;
}

.Highlights_gray__3CCxq {
    color: #8a8fa8;
}

@media (max-width: 1024px) {
    #editors .container,
    .Highlights_container__1kvqi {
        flex-direction: column;
        align-items: center;
    }
    .Highlights_card__34b3J {
        max-width: 32rem;
    }
}

.Highlights_svgContainerBottom__2HAEf,
.Highlights_svgContainerTop__39gIz {
    display: block;
    position: relative;
    top: 0;
}

@media (max-width: 1791px) {
    .Highlights_svgContainerBottom__2HAEf,
    .Highlights_svgContainerTop__39gIz {
        background-size: contain;
    }
}

.Highlights_svgContainerBottom__2HAEf {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.Highlights_iconCheck__2Hfri {
    width: 36px;
    margin-right: 10px;
}

.Highlights_primary__2U_hB {
    fill: var(--yellow);
}

.Highlights_secondary__2LJkW {
    fill: var(--black);
}

#faq {
    background: #22212c;
}

.Faq_container__26-En {
    max-width: 1200px;
    padding: 60px 0;
    margin: 0 auto;
}

.Faq_grid__2zjq3 {
    display: grid;
    -webkit-column-count: 3;
    column-count: 3;
    grid-column-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.title {
    text-align: center;
}

.answer {
    color: #8a8f98;
}

@media (max-width: 960px) {
    .Faq_grid__2zjq3 {
        grid-column-gap: 20px;
    }
}

.Authors_authors__22hBU {
    background: #2a2c37;
}

.Authors_author__1KlsQ {
    padding: 0 15px;
}

.Authors_container__22fcC {
    margin: 0 auto 100px;
    max-width: 960px;
    display: flex;
    justify-content: space-around;
}

.Authors_content__3xCx2 {
    border-radius: var(--rounded-2xl);
    background: #1d1e26;
    padding: 30px;
    max-width: 25rem;
    margin-bottom: 40px;
}

.Authors_photo__2_WNn {
    width: 200px;
    border-radius: var(--rounded-full);
    margin-bottom: 30px;
}

.Authors_container__22fcC .Authors_author__1KlsQ:first-child .Authors_photo__2_WNn {
    -webkit-box-shadow: 0 0 0 4px #1d1e26, 0 0 0 6px var(--purple);
    box-shadow: 0 0 0 4px #1d1e26, 0 0 0 6px var(--purple);
}

.Authors_container__22fcC .Authors_author__1KlsQ:last-child .Authors_photo__2_WNn {
    -webkit-box-shadow: 0 0 0 4px #1d1e26, 0 0 0 6px var(--green);
    box-shadow: 0 0 0 4px #1d1e26, 0 0 0 6px var(--green);
}

@media (max-width: 960px) {
    .Authors_container__22fcC {
        align-items: center;
        flex-direction: column;
        margin: 30px auto;
    }
    .Authors_photo__2_WNn {
        margin: 0 auto 30px;
        display: block;
    }
}

.Authors_svgContainerTop__3tlwu {
    display: block;
    position: relative;
    top: 0;
}

@media (max-width: 1791px) {
    .Authors_svgContainerTop__3tlwu {
        background-size: contain;
    }
}

.Testimonial_testimonial__1719P {
    background: #22212c;
}

.Testimonial_container__3abSh {
    max-width: 840px;
    margin: 0 auto;
    padding: 60px 15px;
}

.Testimonial_avatar__3wyGn {
    border-radius: 100%;
    height: 70px;
    width: 70px;
    display: block;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 0 4px #1d1e26, 0 0 0 6px var(--red);
    box-shadow: 0 0 0 4px #1d1e26, 0 0 0 6px var(--red);
}

.Testimonial_body__2HnES {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-family: Fira Code;
    margin: 30px 40px;
    position: relative;
}

.Testimonial_body__2HnES:after,
.Testimonial_body__2HnES:before {
    content: '"';
    color: var(--disabled);
    font-size: 74px;
    display: block;
    position: absolute;
    height: 120px;
}

.Testimonial_body__2HnES:before {
    content: "“";
    left: -20px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.Testimonial_body__2HnES:after {
    content: "”";
    right: -20px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.Testimonial_authorName__2D-qe {
    text-align: center;
    text-transform: uppercase;
}

.Testimonial_authorTitle__2KBzl {
    color: #8a8fa8;
    text-align: center;
}

@media (max-width: 1040px) {
    .Testimonial_body__2HnES:after,
    .Testimonial_body__2HnES:before {
        display: none;
    }
}

.Footer_footer__108BV {
    background: #22212c;
    padding: 50px 10px;
    flex: 1 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.ui_wrapper__16ggu {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.ui_purple__MDcop {
    color: #9580ff;
}


/**
 * lang:select
 */

.hidden {
    display: none;
}

.logo-icon {
    opacity: 0.3;
    cursor: pointer;
}

.logo-icon:hover,
.logo-icon.selected {
    opacity: 1;
}

#generate-btn {
    align-items: center;
    text-align: center;
}

#generate-btn input[type="submit"] {
    font-family: Fira Code, monospace;
    font-size: 22px;
    cursor: pointer;
}

.theme-grid {
    -webkit-column-count: 4;
    column-count: 4;
    display: grid;
    text-align: center;
}
