[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/django"]
	path = bundle/django
	url = https://github.com/vim-scripts/django.vim.git
[submodule "bundle/london"]
	path = bundle/london
	url = https://github.com/avelino/london.vim.git
[submodule "bundle/pytest"]
	path = bundle/pytest
	url = https://github.com/vim-scripts/pytest.vim.git
[submodule "bundle/python"]
	path = bundle/python
	url = https://github.com/Soares/python.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/avelino/snipmate.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/mortice/taglist.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/color-flux"]
	path = bundle/color-flux
	url = https://github.com/avelino/flux.vim.git
[submodule "bundle/color-molokai"]
	path = bundle/color-molokai
	url = https://github.com/mrtazz/molokai.vim.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/vim-scripts/Markdown.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jg/bufexplorer.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/less"]
	path = bundle/less
	url = https://github.com/lunaru/vim-less.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
