<html>
    <head>
        <meta charset="UTF-8">
        <title>Vim Bootstrap</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="/assets/form.js"></script>
    </head>
    <body>
        <div class="container">
            <h3>Languages<br />
            </h3>
            <br />
        </div>

        <form action="/generate.vim" method="post">
            {% for l in langs %}
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">{{l}}</button>
                    <input type="checkbox" name="langs" value="{{l}}" class="hidden" />
                </span>
            {% endfor %}
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Generate</button>
                </span>
            </div>
        </form>
    </body>
</html>
